In [2]:
# Print the elements on each index
L=["Park Slope", 27.03, 11215]

print('negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

negative and positive indexing:
 Postive: Park Slope
 Negative: Park Slope
negative and positive indexing:
 Postive: 27.03
 Negative: 27.03
negative and positive indexing:
 Postive: 11215
 Negative: 11215

In [4]:
# Lists can contain int, float, str, we can nest lists, tuples and other data structure
["Park Slope", 27.3, 11215, [1,2], ("A",1)]

['Park Slope', 27.3, 11215, [1, 2], ('A', 1)]

In [6]:
# List slicing
L = ("Park Slope",27.3,11215,"PS",1)
L[3:5]

('PS', 1)

In [14]:
# Add elements with extend - more elements
L=["Park Slope", 27.3]
L.extend(["Prospect Park", 120, 4])
L

['Park Slope', 27.3, 'Prospect Park', 120, 4]

In [13]:
# Add elements with append - 1 element
L=["Park Slope",27.3]
L.append(["Prospect Park", 120])
L

['Park Slope', 27.3, ['Prospect Park', 120]]

In [15]:
# Change an element based on index
A=["park", 27, 3]
A[0]='home'
A

['home', 27, 3]

In [17]:
# Delete an element base on index
del(A[0])
A

[27, 3]

In [18]:
# Split the string
"Park Slope".split()

['Park', 'Slope']

In [19]:
# Split by comma
"Ana,are,mere".split(",")

['Ana', 'are', 'mere']

In [6]:
# Copy by reference
A=["Prospect Park", 27.03, 11215]
B=A
print("a:",A)
print("b:",B)

a: ['Prospect Park', 27.03, 11215]
b: ['Prospect Park', 27.03, 11215]

In [7]:
# Changes in A will be seen in B
print("before",B)
A[0]="Central Park"
print("after",B)

before ['Prospect Park', 27.03, 11215]
after ['Central Park', 27.03, 11215]

In [10]:
# Clone by value
B=A[:]
B

['Central Park', 27.03, 11215]

In [11]:
# When using clone, modifying A, doesn't impact B
print("before:",B)
A[0]="Prospect Park"
print("after:",B)

before: ['Central Park', 27.03, 11215]
after: ['Central Park', 27.03, 11215]

In [12]:
# Create a list a_list with 1, "hello", [1,2,3], True
a_list=[1,"hello",[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

In [13]:
# Find the value stored at index 1
a_list[1]

'hello'

In [14]:
# Concatenate two lists: A=[1,'a'] and B=[2,1,'d']
A=[1,"a"]
B=[2,1,"d"]
A+B

[1, 'a', 2, 1, 'd']