In [1]:
# Create a set
set1={"Prospect Park","Central Park", "Van Cortland","Fort Greene"}
set1

{'Central Park', 'Fort Greene', 'Prospect Park', 'Van Cortland'}

In [4]:
# Convert list to a set
list1=["dance","punk","disco", 1990, \
      "pop, rock, r&B",65,"27-Mar-2020",None, 10.0]
Set1=set(list1)
Set1

{10.0,
 1990,
 '27-Mar-2020',
 65,
 None,
 'dance',
 'disco',
 'pop, rock, r&B',
 'punk'}

In [21]:
# another way of converting lists to set
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [22]:
# Add element to set
set1 = {'horse','cat','dog','cow','rabbit'}
print("before adding:",set1)
set1.add("penguin")
print("after adding:",set1)

before adding: {'cat', 'cow', 'horse', 'dog', 'rabbit'}
after adding: {'cat', 'penguin', 'cow', 'horse', 'dog', 'rabbit'}

In [23]:
# Nothing happens if adding dulicates
set1.add("cow")
set1

{'cat', 'cow', 'dog', 'horse', 'penguin', 'rabbit'}

In [25]:
# Remove an element from a set
set1.remove("cow")
set1

{'cat', 'dog', 'horse', 'penguin', 'rabbit'}

In [28]:
# Verify if an element is in set
"cow" in set1

False

In [32]:
park1={"central",'prospect','cortland', "owl"}
park2={'owl',"battery","fort greene", "central"}
park1

{'central', 'cortland', 'owl', 'prospect'}

In [33]:
# Print two sets
park1, park2

({'central', 'cortland', 'owl', 'prospect'},
 {'battery', 'central', 'fort greene', 'owl'})

In [34]:
# Find the intersaction
park1 & park2

{'central', 'owl'}

In [35]:
# Find difference in set1, but not set2
park1.difference(park2)

{'cortland', 'prospect'}

In [36]:
park2.difference(park1)

{'battery', 'fort greene'}

In [38]:
# Find intersactio another way
park1.intersection(park2)

{'central', 'owl'}

In [39]:
# Find the union of two sets
park1.union(park2)

{'battery', 'central', 'cortland', 'fort greene', 'owl', 'prospect'}

In [40]:
# Check if superset
park1.issuperset(park2)

False

In [43]:
# Check subset
park1.issubset(park2)

False

In [44]:
# An example that would return true
set({'prospect','owl'}).issubset(park1)

True

In [45]:
park2.issuperset({'battery','owl'})

True

In [46]:
# Convert the list into a set ['rap','house','electronic music','rap']
newset=set(['rap','house','electronic music','rap'])
newset

{'electronic music', 'house', 'rap'}

In [47]:
# sum(A)=sum(B)? A is a list - [1,2,2,1], B is a set - [1,2,2,1]

A = [1,2,2,1]
B = set([1,2,2,1])
print('sum of A:', sum(A))
print('sum of B:', sum(B))

sum of A: 6
sum of B: 3