In [1]:
# Create a tuple
tuple1= ("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [2]:
# Print the type of variable created
type(tuple1)

tuple

In [3]:
# Print the variables on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [5]:
# Print the type for each value
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
print(tuple1[-1])

1.2

In [7]:
print(tuple1[-2])

10

In [9]:
print(tuple1[-3])

disco

In [11]:
# Concatenate two tuples
tuple2 = tuple1 + ('rock', 20)
tuple2

('disco', 10, 1.2, 'rock', 20)

In [32]:
# Slicing tuples - from 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [13]:
# Lenght of a tuple
len(tuple2)

5

In [20]:
# Sorting a Tuple
Rating=(1,7,4,9,11,2,44,14)
SortedRatings=sorted(Rating)
SortedRatings

[1, 2, 4, 7, 9, 11, 14, 44]

In [21]:
# Create a nest tuple
NestedT=(1,2,("pop","rock"),(3,4),("disco", (1,2)) )
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [25]:
# Print element on each index 
print("Element 0 of Tuple:", NestedT[0])
print("Element 1 of Tuple:", NestedT[1])
print("Element 2 of Tuple:", NestedT[2])
print("Element 3 of Tuple:", NestedT[3])
print("Element 4 of Tuple:", NestedT[4])

Element 0 of Tuple: 1
Element 1 of Tuple: 2
Element 2 of Tuple: ('pop', 'rock')
Element 3 of Tuple: (3, 4)
Element 4 of Tuple: ('disco', (1, 2))

In [27]:
# Print element on each index including nest index
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [30]:
# Print the first element in the second tuples
NestedT[2][1][0]

'r'