In [1]:
# Condition equal
a=5
a==6

False

In [3]:
# Greater than
a=5
a>3

True

In [4]:
a=5
a>6

False

In [5]:
# Inequality
a!=5

False

In [6]:
a!=6

True

In [7]:
# Equality for strings
"Park Slope"=="Williamsburg"

False

In [8]:
"Apple"=="Apple"

True

In [9]:
# Inequality for strings
"Red"!="Blue"

True

In [11]:
# Compare characters (it considers their asci code--> A=101, B=102...)
"A">"B"

False

In [12]:
# When there are multiple letters, the first letter takes precendence 
"BA">"AB"

True

In [19]:
# if statement
age=17
if age>18:
  print("you can drink alcohol in Europe")
print("move on")

move on

In [20]:
age=19
if age>18:
  print("you can drink alcohol in Europe")
print("move on")

you can drink alcohol in Europe
move on

In [21]:
age=18
if age>=18:
  print("you can drink alcohol in Europe")
print("move on")

you can drink alcohol in Europe
move on

In [30]:
age=18
if age>=21:
    print("you can drink in USA")
else:
    print("you can drive")
print("Move on")

you can drive
Move on

In [31]:
# Elif statement
age=22
if age>=21:
    print("drink alcohol in USA")
elif age>=18:
    print("drink alcohol in Europe")
print("Move on")

drink alcohol in USA
Move on

In [38]:
# Condition statement
year_of_birth=1990
year_of_birth=1997
if year_of_birth<=1990:
    print("over 29 years old")
print("do something")

do something

In [37]:
year_of_birth=1994

if year_of_birth<=1990:
    print("over 29 years old")
else:
    print("under 29 years old")
print("do something")

under 29 years old
do something

In [45]:
# And statement (indent is important)
year_of_b=1987

if (year_of_b>1985) and (year_of_b<1989):
    
    print("still under communism")

print("move on")

still under communism
move on

In [52]:
# Or statement 
year_of_b=1987

if (year_of_b>1987) or (year_of_b==1987):
    
    print("still under communism")

print("move on")

still under communism
move on

In [53]:
# Not statement
year_of_b=1990

if not year_of_b<1990:
    print("born after Ceausescu")

born after Ceausescu

In [1]:
# Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.
rating=8.5
if rating>8:
    print("this album is amazing")
else:
    print("this album is ok")

this album is amazing

In [2]:
# Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.
album_year=1985
if album_year==1991 or album_year==1993 or album_year<1980:
    print(album_year)
    
print("this album came out in another year")

this album came out in another year